<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la Película</title>
</head>
<body>
    <h1>{{pelicula[0]}}</h1>
    <h2>{{pelicula[1]}}</h2>
    
    <img src="{{pelicula[2]}}" alt="Imagen de la película" width="300">
    
    <p><strong>Año:</strong> {{pelicula[4]}}</p>
    <p><strong>Género:</strong> {{pelicula[3]}}</p>
    
    <p><strong>Sinopsis:</strong> {{pelicula[5]}}</p>
    
    <iframe src="{{pelicula[6]}}" width="560" height="315" frameborder="0" allowfullscreen></iframe>
</body>
</html>
